:root.dark {
    --blue-1: #000814;
    --blue-2: #1b3552;
    --blue-3: #001d3d;
    --gray-1: #a6b4c4;
    --accent: #ffd60a;
    --font-1: #f1f2f6;
}

:root.light {
    --blue-1: #a6bcdf;
    --blue-2: #dce8f4;
    --blue-3: #7697ba;
    --gray-1: #353c48;
    --accent: #153d87;
    --font-1: #282a32;
}

@font-face {
    font-family: Roboto;
    src: url("../assets/fonts/woff2/OpenSans-VariableFont_wdth\,wght.woff2") format("woff2"),
        url("../assets/fonts/woff/OpenSans-VariableFont_wdth\,wght.woff") format("woff"),
        url("../assets/fonts/ttf/OpenSans-VariableFont_wdth\,wght.ttf") format("ttf");
}

*,
::before,
::after {
    box-sizing: border-box;
}

html {
    font-family:
        system-ui,
        'Segoe UI',
        Roboto,
        Helvetica,
        Arial,
        sans-serif,
        'Apple Color Emoji',
        'Segoe UI Emoji';
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    tab-size: 4;
}

body {
    margin: 0;
    background: var(--blue-1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    min-height: 100dvh;
    width: 100%;
}

header {
    border: 1px solid red;
    background: var(--blue-2);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 3%;
    position: fixed;
    top: 0;
    left: 0;
}

main {
    border: 1px solid green;
}

footer {
    border: 1px solid blue;
}

.header-button {
    border: none;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

#header-search-label {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 1px solid blue;
    padding: 5px 10px;
}

#header-search-input {
    background: transparent;
    border: 2px solid var(--gray-1);
    border-radius: 7px;
    padding: 3px 7px;
    color: var(--font-1);
    font-weight: 700;
}

.header-link {
    outline: 1px solid rgb(46, 174, 50);
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
    transition: .2s;
    color: var(--gray-1);
    display: inline-block;
    text-align: center;
    width: 30px;
}

.material-symbols-outlined:hover {
    font-variation-settings:
        'FILL' 1,
        'wght' 600,
        'GRAD' 0,
        'opsz' 24;
    cursor: pointer;
    font-size: 30px;
}

#nav-ul {
    padding: 5px 10px;
    margin: 0;
    outline: 1px solid rgb(119, 0, 255);
    width: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
}

#nav-ul li {
    margin: 0;
    padding: 0;
    height: 30px;
    outline: 1px solid green;
    display: flex;
    align-items: center;
    justify-content: center;
}

#theme-checkbox {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
}

#theme-checkbox-label {
    width: 60px;
    height: 30px;
    border: 2px solid var(--gray-1);
    border-radius: 10px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    background: transparent;
    transition: 0.3s;
}

#theme-checkbox-span {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    margin: 3px;
    width: 24px;
    height: 20px;
    background: transparent;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#theme-checkbox-span::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: var(--gray-1);
    transition: 0.3s ease-in-out;
    border-radius: 6px;
}

#theme-checkbox:checked+#theme-checkbox-label #theme-checkbox-span::before {
    transform: translateX(-26px);
}

#theme-icon-container {
    outline: 1px solid red;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 11px;
}